<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Build Automation Tool</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
     <script>
		$(document).ready(function(){
			// binds form submission and fields to the validation engine
			$("#messageflowapplicationwiseId").validationEngine('attach');
		});
	</script>
    
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
 <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Message Flow Details
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div>
        <form id="messageflowapplicationwiseId" class="form-horizontal" th:object="${messageflowapplicationwise}" th:action="@{/messageflowapplicationwise}" method="post">
            <input type="hidden" th:field="*{id}"/>            
            <div class="form-group">
                <label class="col-sm-2 control-label">Flow Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control validate[required] text-input" placeholder="Enter Flow Name" th:field="*{name}"/>
            	</div>
            </div>            
        	<div class="form-group">
            <label class="col-sm-2 control-label">Application Name: </label>
            <select th:field="*{messageapplicationwithrepo}" size="5" class="validate[required]">
                <option th:each="messageapplicationwithrepo : ${messageapplicationwithrepos}" th:text="${messageapplicationwithrepo.name}" th:value="${messageapplicationwithrepo.id}" >[option]</option>
            </select>
        	</div>        	             
           <div class="form-group">
             	<label class="col-sm-2 control-label pull-right"><button type="submit" class="btn btn-success">Submit</button></label>
             </div>
        </form>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
 
</div>
</body>
</html>